* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $bg--dark;
    color: $text--dark;
    font-family: $font;
    font-size: 14px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 0;
    padding-left: calc(#{$sidebar_width} + 25px);
    padding-right: 30px;
    padding-bottom: 50px;
    background: $bg;
    color: $text;

    @include breakpoint('laptop') {
        padding-left: calc(#{$sidebar_width_laptop} + 15px);
        padding-right: 20px;
    }

    &.header-disabled {
        padding: 0 !important;
    }

    &.sidebar-disabled {
        padding-left: 0 !important;
    }
}

.app.dark-mode {
    background: $bg--dark;
    color: $text--dark;
}

.app.device-mode {
    @media (prefers-color-scheme: dark) {
        background: $bg--dark;
        color: $text--dark;
    }
}

::selection {
    background: $primary;
    color: $white;
}

a {
    color: $text;
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;

    @include theme() {
        color: $text--dark;
    }

    &:hover, &:active, &:focus {
        text-decoration: underline;
    }

    svg {
        pointer-events: none;
    }
}

img {
    max-width: 100%;
}

label {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

code {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 0 5px;
    background-color: #e8e8e8;
    font-size: 16px;

    @include theme() {
        background-color: #1f1f1f;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

garga {
    cursor: pointer;

    &:before {
        content: attr(data-user) "@";
    }

    &:after {
        content: attr(data-domain);
    }

    &:hover:before, &:active:before, &:focus:before,
    &:hover:after, &:active:after, &:focus:after {
        text-decoration: none;
    }
}
