.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 11px 20px;
    border: none;
    border-radius: 5px;
    background: $primary;
    color: $white;
    font-family: $font-medium;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none !important;
    transition: all .15s ease-in-out;
    white-space: nowrap;

    @include theme() {
        color: $white;
        background: $primary3--dark;
    }

    &:hover, &:active, &:focus {
        color: $white;
        box-shadow: 0 8px 25px -8px $primary;
        text-decoration: none;

        @include theme() {
            box-shadow: 0 8px 25px -8px $primary--dark;
        }
    }

    i {
        margin-right: 5px;
    }

    svg {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        color: $white;
    }

    svg:not(.svg-request-spinner) {
        margin-left: -4px;
    }

    svg.left {
        margin-right: -19px;
    }

    svg.right {
        margin-left: -19px;
    }

    .svg-caret-down {
        color: $white;
    }
}

.btn--auto {
    width: auto;
    min-width: 120px;
}

.btn--full {
    width: 100%;
}

.btn--small {
    font-size: 13px;
    padding: 9px 14px;

    &:hover, &:active, &:focus {
        box-shadow: 0 6px 16px -6px $primary;

        @include theme() {
            box-shadow: 0 6px 16px -6px $primary--dark;
        }
    }
}

.btn--medium {
    width: 200px;
}

.btn--outline {
    background: none;

    @include theme() {
        background: none;
    }
}

.btn--icon {
    padding: 9px;

    svg {
        margin: 0;
    }
}

.btn--rounded {
    padding: 12px 15px;
    border-radius: 30px;
}

.btn--icon-nm {
    svg {
        margin-left: 0 !important;
    }
}

.btn--outline {
    border: 1px solid $primary;
    color: $primary;

    @include theme() {
        border-color: $primary2--dark;
        color: $primary2--dark;
    }

    &:hover, &:active, &:focus {
        border: 1px solid darken($primary, 5%);
        color: darken($primary, 5%);

        @include theme() {
            box-shadow: 0 8px 25px -8px $primary2--dark;
            border-color: lighten($primary2--dark, 5%);
            color: lighten($primary2--dark, 5%);
        }
    }

    &.btn--small {
        &:hover, &:active, &:focus {
            box-shadow: 0 6px 16px -6px $primary;

            @include theme() {
                box-shadow: 0 6px 16px -6px $primary2--dark;
            }
        }
    }

    svg {
        color: $primary;

        @include theme() {
            color: $primary2--dark;
        }
    }
}

//colors
$colors: (
    "red": $red,
    "green": $green,
    "blue": $blue,
    "secondary": $secondary,
);

@each $key, $color in $colors {
    #app .btn--#{$key} {
        color: $white;
        background: $color;
        border-color: lighten($color, 5%);
        box-shadow: 0 0 5px rgba($color, 0.4);

        &:hover, &:active, &:focus {
            color: $white;
            background: darken($color, 5%);
            box-shadow: 0 8px 25px -8px lighten($color, 5%);
            text-decoration: none;

            @include theme() {
                box-shadow: 0 8px 25px -8px darken($color, 5%);
            }
        }

        &.btn--outline {
            border: 1px solid $color;
            color: $color;

            &:hover, &:active, &:focus {
                border: 1px solid darken($color, 5%);
                color: darken($color, 5%);
            }
        }
    }
}


.btn--facebook {
    background: $facebook;
    color: $white;

    &:hover, &:active, &:focus {
        color: $white;
        background: lighten($facebook, 5%);
        box-shadow: none;
        text-decoration: none;
    }
}

.btn--tiktok {
    background: $tiktok;
    background: linear-gradient(158deg, $tiktok 10%, $tiktok2 86%);
    background-size: 150% 150%;
    color: $white;
    transition: all 0.2s ease;

    &:hover, &:active, &:focus {
        color: $white;
        box-shadow: none;
        background-position: 50% 0%;
    }
}

.btn-clear {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    color: $text;
    font-family: $font-medium;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none !important;
}
