$colors: (
    "bg": $bg,
    "text": $text,

    "primary": $primary,
    "secondary": $secondary,
    "red": $red,
    "green": $green,
    "grey": $grey,
    "orange": $orange,
    "purple": $purple,
);

$dark_colors: (
    //dark colors
    "bg": $bg--dark,
    "text": $text--dark,

    "primary": $primary2--dark,
    "secondary": $secondary--dark,

    "red": $red,
    "green": $green,
    "grey": $grey,
    "orange": $orange,
    "purple": $purple--dark,
);

@each $key, $color in $colors {
    .bg-#{$key} {
        background: $color;
    }

    .color-#{$key} {
        color: $color !important;

        @include theme() {
            color: map-get($dark_colors, $key) !important;
        }
    }

    a.color-#{$key} {
        &:hover,
        &:focus,
        &:active {
            color: darken($color, 10%) !important;
        }

        @include theme() {
            &:hover,
            &:focus,
            &:active {
                color: map-get($dark_colors, $key + '-lightened') !important;
            }
        }
    }
}
