.loading {
    text-align: center;

    svg {
        width: 40px;
        height: 40px;
    }
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba($bg-light, 0.5);
    text-align: center;

    @include theme() {
        background: rgba($bg-light--dark, 0.5);
    }

    svg {
        width: 40px;
        height: 40px;
    }
}
