[data-responsive-bg] {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    > img,
    > picture {
        opacity: 0;
        visibility: hidden;
    }
}

[data-responsive-bg-fade] {
    opacity: 0
}

[data-responsive-bg-fade-loaded] {
    opacity: 1;
    transition: opacity .5s ease
}

[data-lazyload],
[data-lazyload] img {
    opacity: 0;
    transition: opacity .5s ease
}