.text {
    margin: 5px 0 0;
    padding: 0 20px;
    color: $text;
    font-size: 14px;
    opacity: 0.5;

    @include breakpoint('mobile') {
        font-size: 12px;
    }

    @include theme() {
        color: $text--dark;
    }
}

.text-center {
    text-align: center;
}

.text-center--tablet {
    @include breakpoint('tablet') {
        text-align: center;
    }
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.text-small {
    font-size: 10px;
}

.word-break {
    word-break: break-word;
}

.nowrap {
    white-space: nowrap;
}
