.panels {
    display: flex;
    column-gap: 20px;
}

.panel {
    flex: 1 1 auto;
    padding: 15px;
    margin: 0 0 15px;
    border-radius: 6px;
    background: $bg-light;

    @include theme() {
        background: $bg-light--dark;
    }
}

.panel--50 {
    width: 50%;
}

.panel--rows {
    padding-bottom: 5px;
}

.panel--modal-submit {
    padding-bottom: 0;
    margin: 0 auto;

    .row--submit {
        flex-direction: column;
        gap: 30px;
    }
}

.panel__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px;
    font-size: 18px;

    > * {
        flex: 0 0;
    }
}
