.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 36px;
    padding-left: 3px;
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: bold;

    > div {
        display: flex;
        align-items: center;
    }

    .crumbs {
        position: relative;
        margin-left: 30px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -6px;
            left: -13px;
            width: 1px;
            height: 200%;
            background: $lightgrey;
        }
    }
}

.title {
    margin-bottom: 15px;
    font-size: 24px;
    font-size: bold;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
