.auth {
    display: flex;
    height: 100vh;
}

.auth--full {
    justify-content: center;
    align-items: center;
    background: url('/images/auth-bg.jpg') no-repeat;
    background-size: cover;
}

.auth__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 600px;
    padding: 60px;
    height: 100%;
    overflow-y: auto;

    > div {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}

.auth__text {
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 20px;

    span {
        display: block;
        margin: 0 0 10px;
        font-size: 21px;
    }
}

.auth__right {
    display: flex;
    flex: 1 1 auto;
    padding: 60px;
    background: url('/images/auth-bg.jpg') no-repeat;
    background-size: cover;
}

.auth__logo {
    padding: 0 0 60px;
    text-align: center;

    svg,
    img {
        width: 80px;
        height: 80px;
        color: $primary;
    }
}

.auth__content {
    padding: 60px 100px;
    border-radius: 6px;
    background: $bg;

    @include theme() {
        background: $bg--dark;
    }
}
