.crumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 0;

    > * {
        margin: 0 2px;
    }

    .svg-home {
        width: 16px;
        height: 16px;
    }

    .svg-arrow-right {
        width: 12px;
        height: 12px;
    }

    a {
        color: $primary;

        @include theme() {
            color: $primary2--dark;
        }
    }
}
