.crumbs {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 0;

    .svg-home {
        width: 16px;
        height: 16px;
    }

    .svg-arrow-right {
        width: 12px;
        height: 12px;
    }

    a:not(.btn) {
        color: $primary;

        @include theme() {
            color: $primary2--dark;
        }
    }
}

.crumbs--with-buttons {
    justify-content: space-between;
    align-items: flex-end;
    margin: -15px 0 10px;

    > div {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}
