.minitable {
    .tr {
        display: flex;
        width: 100%;

        .td:first-child {
            flex: 0 0 auto;
        }

        .td:last-child {
            flex: 1 1 auto;
        }
    }

    td, .td {
        padding: 4px;
        border-bottom: 1px solid $border;

        @include theme() {
            border-color: $border--dark;
        }
    }

    > tr:last-child td,
    > .tr:last-child .td {
        border: none;
    }
}
