.rows {
}

.rows--flex {
    display: flex;
    margin: 0 -10px;

    .row {
        flex: 0 0 calc(50% - 20px);
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.rows--filters {
    display: flex;
    position: relative;
    margin: 0 -10px;

    .row {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

    .input {
        padding: 6px 32px 6px 12px;
    }

    .input + a {
        position: absolute;
        bottom: 8px;
        right: 5px;
        line-height: 0;

        svg {
            width: 14px;
            height: 14px;
            color: $text;
        }
    }

    .clear-filters {
        position: absolute;
        top: -50px;
        right: 3px;
        width: auto;
    }
}

.row {
    position: relative;
    margin-bottom: 15px;
    word-break: break-word;

    > span,
    > label {
        display: flex;
        gap: 10px;
        margin: 0 0 5px;
        color: $grey;
        font-size: 12px;
        font-weight: normal;

        @include theme() {
            color: $text--dark;
        }

        svg {
            position: relative;
            top: 6px;
            width: 20px;
            height: 20px;
            line-height: 0;
        }
    }

    .label-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;

        svg {
            width: 12px;
            height: 12px;
            color: $red;
        }
    }

    > span.small,
    > label.small {
        font-size: 16px;
    }

    sublabel {
        display: block;
        margin: 3px 0 10px;
        font-size: 12px;
    }
}

.row--inline {
    display: flex;
}

.row--nm {
    margin: 0;
}

.row--submit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        margin: 0 0 20px;
        color: $grey;
        font-size: 14px;
        line-height: 21px;
    }

    a {
        display: flex;
        align-items: center;
        color: $text;

        @include theme() {
            color: $text--dark;
        }

        &:hover, &:active, &:focus {
            color: $text;

            @include theme() {
                color: $text--dark;
            }
        }

        svg {
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }
    }
}
