.table-wrapper {
    position: relative;
    min-height: 105px;
}

.table {
    position: relative;
    min-width: 100%;
    font-size: 14px;
    border-collapse: collapse;

    tr {
        &:nth-child(odd) {
            background: $lightgrey3;

            @include theme() {
                background: $lightgrey3--dark;
            }
        }

        &:hover {
            background: rgba($primary, 0.07);

            @include theme() {
                background: rgba($primary--dark, 0.07);
            }
        }

        &.disabled {
            background-image: linear-gradient(135deg, $border 16.67%, $border2 16.67%, $border2 50%, $border 50%, $border 66.67%, $border2 66.67%, $border2 100%);
            background-size: 42.43px 42.43px;

            @include theme() {
                background-image: linear-gradient(135deg, $border2--dark 16.67%, $bg--dark 16.67%, $bg--dark 50%, $border2--dark 50%, $border2--dark 66.67%, $bg--dark 66.67%, $bg--dark 100%);
                background-size: 42.43px 42.43px;
            }
        }
    }

    th {
        position: sticky;
        z-index: 2;
        top: -1px;
        padding: 12px;
        border: 1px solid $border;
        background: $bg-light;
        font-size: 14px;
        font-weight: bold;
        text-align: left;

        @include theme() {
            border-color: $border--dark;
            background: $bg-light--dark;
        }
    }

    td {
        padding: 12px;
        border: 1px solid $border;

        @include theme() {
            border-color: $border--dark;
        }
    }
}

.table-sort {
    white-space: nowrap;

    span {
        display: inline-block;
        margin-right: 5px;
    }

    .svg-caret-up,
    .svg-caret-down {
        position: relative;
        top: 3px;
        width: 14px;
        height: 14px;
    }

    .svg-caret-up-down {
        position: relative;
        top: 2px;
        width: 14px;
        height: 12px;
    }
}

.table__actions {
    white-space: nowrap;

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin: 0 3px;
    }

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    .svg-duplicate {
        width: 16px;
        height: 16px;
    }
}
