.password {
    display: inline-block;
    position: relative;
    width: 100%;

    input {
        padding-right: 34px;
    }

    a {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        color: $text;
        line-height: 0;
        user-select: none;

        @include theme() {
            color: $text--dark;
        }
    }

    svg {
        width: 14px;
        height: 14px;
    }
}
