.mega-menu {
    display: flex;
}

.mega-menu__item {
    position: relative;
    min-width: 150px;
    margin: 0 10px;
}

.mega-menu__item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 9px 15px;
    border-bottom: 1px solid $text;
    border-radius: 30px;
    cursor: pointer;

    @include theme() {
        border-bottom-color: $text--dark;
    }

    svg {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        margin-right: -17px;
    }
}

.mega-menu__item-children {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    z-index: 1;
    width: 100%;
    padding: 45px 0 20px;
    opacity: 0;
    transition: all 0.35s ease;
    pointer-events: none;

    .mega-menu__item:hover & {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
        pointer-events: all;
    }

    div {
        padding: 12px;
        border-radius: 5px;
        background: $bg-light;
        box-shadow: 0 4px 14px 0 rgba(34, 41, 47, 0.1);

        @include theme() {
            background: $bg-light--dark;
            box-shadow: 0 4px 14px 0 rgba(221, 214, 208, 0.1);
        }
    }

    a {
        display: flex;
        align-items: center;
        margin: 0 0 15px;
        color: $text;
        transition: padding 0.25s ease;
        white-space: nowrap;

        @include theme() {
            color: $text--dark;
        }

        &:last-child {
            margin: 0;
        }

        &:hover, &:active, &:focus {
            padding-left: 5px;
        }

        svg {
            margin-right: 10px;
        }
    }
}

a.mega-menu__item {
    padding: 9px 15px;
    border-radius: 30px;
}
