//margins
$margin-sizes: -10 -5 0 1 2 3 4 5 6 7 8 9 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;
$directions: top bottom left right;
$directions-short: t b l r;

@each $margin-size in $margin-sizes {
    .m-#{$margin-size} {
        margin: #{$margin-size}px !important;
    }

    .p-#{$margin-size} {
        padding: #{$margin-size}px !important;
    }
}

@each $margin-size in $margin-sizes {
    @for $i from 1 through length($directions) {
        .m#{nth($directions-short, $i)}-#{$margin-size} {
            margin-#{nth($directions, $i)}: #{$margin-size}px !important;
        }

        .p#{nth($directions-short, $i)}-#{$margin-size} {
            padding-#{nth($directions, $i)}: #{$margin-size}px !important;
        }
    }

    .mx-#{$margin-size} {
        margin-left: #{$margin-size}px !important;
        margin-right: #{$margin-size}px !important;
    }

    .px-#{$margin-size} {
        padding-left: #{$margin-size}px !important;
        padding-right: #{$margin-size}px !important;
    }

    .my-#{$margin-size} {
        margin-top: #{$margin-size}px !important;
        margin-bottom: #{$margin-size}px !important;
    }

    .py-#{$margin-size} {
        padding-top: #{$margin-size}px !important;
        padding-bottom: #{$margin-size}px !important;
    }
}

@include breakpoint('mobile') {
    .mt-mobile-15 {
        margin-top: 15px;
    }

    .mt-mobile-30 {
        margin-top: 30px;
    }

    .mb-mobile-30 {
        margin-bottom: 30px;
    }
}
