@mixin breakpoint($breakpoint, $only: "") {
    @if $only == "" {
        @media (max-width: #{map-get($breakpoints, $breakpoint)}px) {
            @content;
        }
    }
    @else if $only == "only" and $breakpoint != 'mobile-small' {
        $index: index(map-keys($breakpoints), $breakpoint);
        $index2: $index + 1;
        $breakpoint2: nth(map-keys($breakpoints), $index2);

        @media (max-width: #{map-get($breakpoints, $breakpoint)}px) and (min-width: #{map-get($breakpoints, $breakpoint2)}px) {
            @content;
        }
    }
}

@mixin theme($mode: "dark") {
    .#{$mode}-mode & {
        @content;
    }

    .device-mode & {
        @media (prefers-color-scheme: $mode) {
            @content;
        }
    }
}
