/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $lightgrey $bg;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: $bg;
}

*::-webkit-scrollbar-thumb {
    background-color: $lightgrey;
    border-radius: 3px;
    border: 3px solid $lightgrey;
}

*::-webkit-scrollbar:horizontal {
    height: 8px;
}

*::-webkit-scrollbar-track:horizontal {
    background: $bg;
}

*::-webkit-scrollbar-thumb:horizontal {
    background-color: $lightgrey;
    border-radius: 3px;
    border: 3px solid $lightgrey;
}
