.fade-enter-active{
    transition: all 0.25s ease;
}

.fade-enter-active {
  transition-delay: .15s;
}

.fade-enter {
  opacity: 0;
  transform: translateX(7px) translateY(7px);
}

.simple-fade-enter-active,
.simple-fade-leave-active {
    transition: all 0.25s ease;
}

.simple-fade-leave-active {
  opacity: 0;
}

.simple-fade-enter {
  opacity: 0;
}
