.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: $sidebar_width;
    height: 100vh;
    padding: 30px 15px;
    background: $bg-light;
    box-shadow: 0 0 15px 0 rgba(34, 41, 47, 0.05);

    @include breakpoint('laptop') {
        width: $sidebar_width_laptop;
    }

    .sidebar-disabled & {
        display: none;
    }

    .has-sidebar-filters & {
        border-radius: 0;
        box-shadow: none;
    }

    @include theme() {
        background: $bg-light--dark;
    }
}

.sidebar__logo {
    margin: 0 0 50px;
    text-align: center;

    svg,
    img {
        width: 50px;
        height: 50px;
        color: $primary;
    }
}

.sidebar__link {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    border-radius: 4px;
    color: $text;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: padding 0.25s ease;
    white-space: nowrap;

    @include theme() {
        color: $text--dark;
    }

    &:hover, &:active, &:focus {
        padding-left: 20px;
        color: $text;
        text-decoration: none;

        @include theme() {
            color: $text--dark;
        }
    }

    &.active {
        background: darken($bg, 2%);

        @include theme() {
            background: rgba($bg--dark, 0.5);
        }
    }

    &.active:after,
    &:hover:after, &:active:after, &:focus:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -15px;
        width: 3px;
        height: 100%;
        background: $primary;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    a, a:hover, a:active, a:focus {
        display: flex;
        align-items: center;
        color: $text;
        text-decoration: none;

        @include theme() {
            color: $text--dark;
        }
    }

    svg {
        flex: 0 0 auto;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    @include theme() {
        color: $text--dark;

        &:hover, &:active, &:focus {
            color: $text--dark;
        }
    }
}

.sidebar__link--with-children {
    cursor: pointer;

    div {
        width: 200px;
    }
}

.sidebar__link--selected {

}

.sidebar__link-children {
    position: absolute;
    top: calc(50% - 20px);
    left: 180px;
    transform: translateY(-20px);
    z-index: 1;
    padding: 0 20px 0 40px;
    opacity: 0;
    transition: all 0.35s ease;
    pointer-events: none;

    .sidebar__link:hover & {
        transform: translateY(-10px);
        opacity: 1;
        pointer-events: all;
    }

    div {
        position: relative;
        padding: 12px;
        border-radius: 5px;
        background: $bg-light;
        border: 1px solid rgba($primary, 0.5);
        box-shadow: 0 4px 14px 0 rgba(34, 41, 47, 0.1);

        @include theme() {
            border: 1px solid $primary;
            background: $bg-light--dark;
            box-shadow: 0 4px 14px 0 rgba(221, 214, 208, 0.1);
        }

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 30px;
            left: -12px;
            z-index: 1;
            width: 0;
            margin-top: -11px;
            border-style: solid;
            border-color: transparent rgba($primary, 0.5);
            border-width: 11px 12px 11px 0;

            @include theme() {
                border-color: transparent rgba($primary--dark, 0.5);
            }
        }

        &:after {
            top: 31px;
            left: -10px;
            z-index: 2;
            border-color: transparent $bg-light;
            border-width: 10px 11px 10px 0;

            @include theme() {
                border-color: transparent $bg-light--dark;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        margin: 0 0 15px;
        color: $text;
        transition: padding 0.25s ease;
        white-space: nowrap;

        @include theme() {
            color: $text--dark;
        }

        &:last-child {
            margin: 0;
        }

        &:hover, &:active, &:focus {
            padding-left: 5px;
        }

        svg {
            margin-right: 7px;
        }
    }
}

.sidebar__label {
    display: flex;
    align-items: center;
    margin: 30px 0 10px;
    color: $grey2;
    font-size: 12px;
    text-transform: uppercase;

    svg {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }
}
